@import "tailwindcss";
@plugin 'tailwind-scrollbar';

/* Fontes e Definições de Variáveis Nativas */
@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/GoogleSansFlex-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --color-base-000: #ffffff;
  --color-base-100: #f8f8f1;
  --color-base-200: #f0ede6;
  --color-base-300: #d9d6ce;

  --color-base-500: #8c887e;

  --color-base-700: #1f1c14;
  --color-base-800: #19170f;
  --color-base-900: #0c0b07;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-000: #000000;
    --color-base-100: #0c0b07;
    --color-base-200: #19170f;
    --color-base-300: #1f1c14;

    --color-base-500: #8c887e;

    --color-base-700: #d9d6ce;
    --color-base-800: #f0ede6;
    --color-base-900: #f8f8f1;
  }
}

/* Configuração do Tema (Engine do Tailwind) */
@theme {
  --breakpoint-xxs: 17.5rem;
  --breakpoint-xs: 30rem;

  /* Se você definir a fonte como 'sans', não precisa do reset global no *, porque a font 'sans' é a padrão do tailwind */
  --font-sans: "Google Sans Flex", sans-serif;

  --radius-base: var(--radius-2xl);

  --color-link: #0067b8;
  --color-error: #b60c0c;

  --color-primary: #ffbb11;
  --color-primary-dark: #e3a302;

  /* Referenciando as variáveis do :root */
  --color-base-000: var(--color-base-000);
  --color-base-100: var(--color-base-100);
  --color-base-200: var(--color-base-200);
  --color-base-300: var(--color-base-300);

  --color-base-500: var(--color-base-500);

  --color-base-700: var(--color-base-700);
  --color-base-800: var(--color-base-800);
  --color-base-900: var(--color-base-900);

  --animate-modal-in: modal-in 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-modal-out: modal-out 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-in: content-in 0.25s ease-in;

  /* Keyframes aqui dentro estão perfeitos! */
  @keyframes modal-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes modal-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  @keyframes content-in {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 1;
    }
  }
}

/* Utilitários Customizados */

/* Utilitários de Compoentes */
@utility max-w-base {
  @apply max-w-255 mx-auto;
}
@utility public-section-wrapper {
  @apply grow grid animate-content-in sm:items-center sm:min-h-145 sm:grid-cols-2 sm:bg-base-100 sm:rounded-base sm:shadow-xl sm:shadow-base-300/50 sm:overflow-hidden;
}
@utility public-section-background {
  @apply hidden sm:block sm:self-stretch sm:rounded-base sm:overflow-hidden;
}
@utility public-section-form-wrapper {
  @apply p-4 flex flex-col sm:items-stretch;
}
@utility form-fields-wrapper {
  @apply flex flex-col gap-3;
}
@utility error-not-found-wrapper {
  @apply flex flex-col items-center gap-6 text-center;
}

/* Utilitários de Botão/Link */
@utility button-form {
  @apply w-full py-3 px-6 font-body-sm font-semibold text-center rounded-base cursor-pointer whitespace-nowrap outline-interactive-primary transition-colors-no-outline;
}
@utility bg-interactive {
  @apply hover:bg-base-300 focus-visible:bg-base-300;
}
@utility bg-interactive-200 {
  @apply bg-base-200 hover:bg-base-300 focus-visible:bg-base-300;
}
@utility bg-interactive-700 {
  @apply bg-base-700 hover:bg-base-500 focus-visible:bg-base-500;
}
@utility bg-interactive-primary {
  @apply bg-primary hover:bg-primary-dark focus-visible:bg-primary-dark;
}
@utility icon-interactive-fill-primary {
  @apply *:group-hover:fill-primary *:group-focus-visible:fill-primary *:transition-colors-no-outline *:ease-in;
}
@utility input-interactive {
  @apply border border-base-300 outline-0 bg-base-100 hover:border-base-500 focus-visible:border-primary focus-visible:ring-2 focus-visible:ring-primary/40 focus-visible:bg-base-000;
}
@utility outline-interactive-primary {
  @apply focus-visible:outline-offset-2 focus-visible:outline-2 focus-visible:outline-primary;
}
@utility link-sm-underline-blue {
  @apply text-link hover:underline focus-visible:underline outline-none;
}

/* Utilitários de Tipografia */
@utility font-label-base {
  @apply text-[0.625rem] leading-3;
}
@utility font-body-xs {
  @apply text-xs leading-4 ease-in;
}
@utility font-body-sm {
  @apply text-sm leading-5;
}
@utility font-body-base {
  @apply text-base leading-6;
}
@utility font-title-sm {
  @apply text-[2rem] leading-8 font-bold;
}
@utility font-title-base {
  @apply text-5xl leading-14 font-bold;
}
@utility paragraph-inline-700 {
  @apply inline font-body-base text-base-700;
}

/* Utilitários de Transição */
@utility transition-colors-no-outline {
  /* Listamos tudo, menos outline-color, outline-width e outline-offset */
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 150ms;
}
