@import "tailwindcss";
@plugin 'tailwind-scrollbar';

/* Fontes e Definições de Variáveis Nativas */
@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/GoogleSansFlex-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --color-neutral-dogs-100: #fafaf9;
  --color-neutral-dogs-200: #f2f1ee;
  --color-neutral-dogs-300: #eae7e1;

  --color-neutral-dogs-700: #272520;
  --color-neutral-dogs-800: #21201c;
  --color-neutral-dogs-900: #1b1a18;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral-dogs-100: #1b1a18;
    --color-neutral-dogs-200: #21201c;
    --color-neutral-dogs-300: #272520;

    --color-neutral-dogs-700: #eae7e1;
    --color-neutral-dogs-800: #f2f1ee;
    --color-neutral-dogs-900: #fafaf9;
  }
}

/* Configuração do Tema (Engine do Tailwind) */
@theme {
  --breakpoint-xxs: 17.5rem;
  --breakpoint-xs: 30rem;

  /* Se você definir a fonte como 'sans', não precisa do reset global no *, porque a font 'sans' é a padrão do tailwind */
  --font-sans: "Google Sans Flex", sans-serif;

  --radius-base: var(--radius-2xl);

  --color-link-500: #0067b8;
  --color-error-500: #b60c0c;
  --color-primary-500: #f6b81e;
  --color-primary-600: #f2ae02;

  /* Referenciando as variáveis do :root */
  --color-neutral-dogs-100: var(--color-neutral-dogs-100);
  --color-neutral-dogs-200: var(--color-neutral-dogs-200);
  --color-neutral-dogs-300: var(--color-neutral-dogs-300);

  --color-neutral-dogs-700: var(--color-neutral-dogs-700);
  --color-neutral-dogs-800: var(--color-neutral-dogs-800);
  --color-neutral-dogs-900: var(--color-neutral-dogs-900);

  --animate-modal-in: modal-in 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-modal-out: modal-out 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-in: content-in 0.25s ease-in;

  /* Keyframes aqui dentro estão perfeitos! */
  @keyframes modal-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes modal-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  @keyframes content-in {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 1;
    }
  }
}

/* Utilitários Customizados */

/* Utilitários de Compoentes */
@utility max-w-base {
  @apply max-w-255 mx-auto;
}
@utility public-section-wrapper {
  @apply grow grid animate-content-in sm:items-center sm:min-h-145 sm:grid-cols-2 sm:bg-neutral-dogs-100 sm:border sm:border-neutral-dogs-200 sm:rounded-base sm:overflow-hidden;
}
@utility public-section-background {
  @apply hidden sm:block sm:self-stretch sm:rounded-base sm:overflow-hidden;
}
@utility public-section-form-wrapper {
  @apply p-4 flex flex-col sm:items-stretch;
}
@utility form-fields-wrapper {
  @apply flex flex-col gap-3;
}
@utility error-not-found-wrapper {
  @apply flex flex-col items-center gap-6 text-center;
}

/* Utilitários de Botão/Link */
@utility button-form {
  @apply w-full py-3 px-6 font-body-primary font-semibold text-center rounded-base cursor-pointer whitespace-nowrap outline-interactive-primary-500 transition-colors-no-outline;
}
@utility bg-interactive-200 {
  @apply bg-neutral-dogs-200 hover:bg-neutral-dogs-300 focus-visible:bg-neutral-dogs-300;
}
@utility bg-interactive-800 {
  @apply bg-neutral-dogs-800 hover:bg-neutral-dogs-700 focus-visible:bg-neutral-dogs-700;
}
@utility bg-interactive-primary-500 {
  @apply bg-primary-500 hover:bg-primary-600 focus-visible:bg-primary-600;
}
@utility input-interactive {
  @apply outline-0 bg-neutral-dogs-200 hover:outline-1 hover:outline-neutral-dogs-900/30 focus-visible:outline-2 focus-visible:outline-primary-600 focus-visible:ring-4 focus-visible:ring-primary-500/40 focus-visible:bg-neutral-dogs-100;
}
@utility outline-interactive-primary-500 {
  @apply focus-visible:outline-offset-2 focus-visible:outline-2 focus-visible:outline-primary-500;
}
@utility link-underline-blue {
  @apply text-link-500 hover:underline focus-visible:underline outline-none;
}
@utility mobile-menu-active {
  @apply **:stroke-primary-500! **:text-primary-500!;
}
@utility anchor-color-active {
  @apply **:stroke-[#1b1a18]!  *:text-[#1b1a18]!;
}

/* Utilitários de Tipografia */
@utility font-icon-label {
  @apply text-[0.625rem] leading-3 font-semibold;
}
@utility font-body-primary {
  @apply text-sm leading-5;
}
@utility font-title-secondary {
  @apply text-2xl leading-7 font-bold;
}
@utility font-title-primary {
  @apply text-[2rem] leading-9 font-bold;
}

@utility paragraph-inline-700 {
  @apply inline font-body-primary text-neutral-dogs-900;
}

/* Utilitários de Transição */
@utility transition-colors-no-outline {
  /* Listamos tudo, menos outline-color, outline-width e outline-offset */
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 150ms;
}

@layer base {
  /* html: É a raiz do documento. Ele sempre ocupa 100% da viewport (a tela toda). Se você colocar o background nele, ele sempre vai colorir a tela inteira, não importa se sua página tem pouco conteúdo ou muito.
  body: É o primeiro filho do html. Ele tem o tamanho do seu conteúdo. Se sua página tem apenas um parágrafo de texto, o body terá apenas a altura desse parágrafo.
  Melhor prática? usar body com min-height: 100dvh */
  body {
    background-color: var(--color-neutral-dogs-100);
    /* Garante que o body OCUPE pelo menos a altura da tela inteira */
    min-height: 100dvh;
  }

  /* Para remover os controladores (setas de incremento e decremento/spinners) de um campo <input type="number"> : */
  /* aborda navegadores baseados em WebKit (Chrome, Safari, Edge) */
  .no-spinners::-webkit-inner-spin-button,
  .no-spinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  .no-spinners {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
