@import "tailwindcss";

@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/GoogleSansFlex-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --color-base-100: #f8f8f1;
  --color-base-200: #f0ede6;
  --color-base-300: #d9d6ce;

  --color-base-500: #8c887e;

  --color-base-700: #1f1c14;
  --color-base-800: #19170f;
  --color-base-900: #0c0b07;
}

@theme {
  --breakpoint-xxs: 17.5rem;
  --breakpoint-xs: 30rem;

  --font-primary: "Google Sans Flex", sans-serif;

  --color-link: #0067b8;
  --color-error: #b60c0c;

  --color-primary: #ffbb11;
  --color-primary-dark: #e3a302;

  --color-base-100: var(--color-base-100);
  --color-base-200: var(--color-base-200);
  --color-base-300: var(--color-base-300);

  --color-base-500: var(--color-base-500);

  --color-base-700: var(--color-base-700);
  --color-base-800: var(--color-base-800);
  --color-base-900: var(--color-base-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-100: #0c0b07;
    --color-base-200: #19170f;
    --color-base-300: #1f1c14;

    --color-base-500: #8c887e;

    --color-base-700: #d9d6ce;
    --color-base-800: #f0ede6;
    --color-base-900: #f8f8f1;
  }
}

@utility max-w-base {
  @apply max-w-255 mx-auto;
}

@utility button-form {
  @apply py-3 font-body-sm font-semibold text-center rounded-base cursor-pointer transition-colors ease-in;
}

@utility anchor-bg-200 {
  @apply bg-base-200 hover:bg-base-300 focus-visible:bg-base-300;
}
@utility anchor-bg-primary {
  @apply bg-primary hover:bg-primary-dark focus-visible:bg-primary-dark;
}

@utility font-anchor-base {
  @apply text-[0.625rem] leading-3;
}
@utility font-body-xs {
  @apply text-xs leading-4;
}
@utility font-body-sm {
  @apply text-sm leading-5;
}
@utility font-body-base {
  @apply text-base leading-6;
}
@utility font-title-base {
  @apply text-5xl leading-14 font-bold;
}

@utility rounded-base {
  @apply rounded-2xl;
}

@utility auth-wrapper {
  @apply grid sm:min-h-dvh sm:before:bg-cover sm:before:bg-center sm:grid-cols-2;
}
@utility auth-form-wrapper {
  @apply flex flex-col pl-6 pr-4 py-12 sm:self-center sm:max-w-127.5;
}
@utility auth-form-fields-wrapper {
  @apply flex flex-col gap-3;
}

@layer base {
  * {
    @apply font-primary;
  }
  body {
    @apply pt-36 xs:pt-19;
  }
}
